*
body {
    font-family: "Poppins", sans-serif;
    background: url(img/web-bg.jpg) no-repeat center / cover;
    background-attachment: fixed;
}
{
    margin: 0;
    padding: 0;
}
/*------Navigation-----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left:30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #f40584!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #000000!important;
    font-weight: 600;
    font-size: 16px;
}

/*-----About-----*/
#aboutmalabon
{
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000000;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
}
#abouthistory
{
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000000;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-history
{
    padding-top: 20px;
}
/*------Contact Us-----*/
#contact
{
    background: #f40584;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
        padding: 10px;
        margin: 15px;
}
.contact-info .fa 
{

    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*------Footer-----*/
#footer
{
    background: #fff;
    color: #f380bb;
    padding: 12px;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}

